@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

button{
  background: #333333;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  border: none;
}

p{
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4F4F4F;
  width: 320px;
}

h1{
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
}

h5{
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}

#devChallenges{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #BDBDBD;
}

@media (max-width: 767px) {
  p{
    width: 390px;
  }
}
